page-login {
    ion-content.content-md{
        background: #6b0082;
        .scroll-content{
            .logo{
                min-height: 50%;
                display: flex;
                align-items: center;
            }
            .loginLogo{
                height: 250px;
                width: auto;
                display: block;
                margin: auto;
            }
            .loginForm{
                ion-item.item-md{
                    background-color: transparent; 
                    display: inline-block;
                    width: calc(100% - 50px);
                    color: #fff;
                }
                .button-md-primary.login {
                    color: #000;
                    background-color: #fea20f;
                    font-weight: bold;
                    font-size: 1.6rem;
                    border-radius: 15px;
                    height: 52px;
                }
            }
        }
    }
}
