<ion-header no-border>
    <ion-toolbar>
        <button ion-button icon-only (click)="backButtonClick()">
            <ion-icon name="ios-arrow-back"></ion-icon>
        </button>
        <ion-title text-center>Your Cart</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list no-margin>
        <ion-item class="time-left" *ngIf="!cartItems">
            Your Cart is Empty
        </ion-item>
        <ion-item no-padding class="menuItem" *ngFor="let item of cartItems | myfilter:args ; index as i">
            <ion-card>
                <img [src]="item.imgSrc" />
                <ion-card-content>
                    <ion-card-title>
                        {{item.title}}
                    </ion-card-title>
                    <p class="price">
                        $ {{item.price}}
                    </p>
                    <div class="quantity-group">
                        <button ion-button icon-only (click)="add(item.title)" class="add-btn">
                            <ion-icon name="add"></ion-icon>
                        </button>
                        <input type="number" [(ngModel)]="item.quantity" class="quantity" (change)="cartCount()">
                        <button ion-button icon-only (click)="remove(item.title)" class="remove-btn">
                            <ion-icon name="md-remove"></ion-icon>
                        </button>
                    </div>
                    <div class="menuItemPrice" text-right>
                        <p>Price</p>
                        <p>$ {{parse(item.quantity * item.price)}}</p>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-item class="coupon">
            <ion-input type="text" placeholder="Enter Coupon here" [(ngModel)]="coupon" (change)="discount()"></ion-input>
        </ion-item>
        <ion-item class="gst">
            <p class="gstLabel">GST (7%)</p>
            <p>$ {{parse(tax)}}</p>
        </ion-item>
        <ion-item class="grandTotal">
            <div class="cartQuantity">
                <p>TOTAL QTY</p>
                <p class="bigFont">{{cart}}</p>
            </div>
            <div class="total" text-right>
                <p>TOTAL</p>
                <p class="bigFont">$ {{parse(total)}}</p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <button ion-button block class="place-order" (click)="nextPage()">PROCEED TO PAY</button>
    </ion-toolbar>
</ion-footer>