page-completed {
    .scroll-content {
        background: #efefef;
    }
    ion-toolbar {
        .toolbar-content {
            .button-md {
                background: transparent;
                box-shadow: none;
                position: absolute;
                top: 8px;
                z-index: 10;
            }
        }
    } 
    ion-footer {
        ion-toolbar.toolbar-md {
            padding: 0px;
            .toolbar-background-md {
                background: #fea20f;
            }
            button {
                background: #fea20f;
                color: #333;
                font-size: 2rem;
                font-weight: 700;
                height: 6rem;
                margin:0px;
                position: static;
            } 
        }
    }
    ion-content {
        ion-card.card-md {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem; 
            ion-card-header {
                img {
                    width: 100px;
                    margin: 1rem auto;
                }
                h1 {
                    font-weight: 700;
                    color: #5e5e5e;
                }
            }
            ion-card-content {
                color: #95989a;
                font-size: 2.125rem;
                h1 {
                    font-weight: 700;
                    font-size: 3rem;
                    color: #5e5e5e;
                }
            }
        }
        .thankyou-card {
            background: transparent;
            box-shadow: none;
        }
        // .footer {
        //     background: #fea20f;
        //     text-align: center;
        //     width: 100%;
        //     position: fixed;
        //     bottom: 0px;
        //     button {
        //         background: transparent;
        //         box-shadow: none;
        //         width: 45%;
        //         font-size: 2.125rem;
        //         color: #040404;
        //         height: 6rem;
        //         font-weight: bold;
        //     }
        // }
    }
}