$text-color: #000;
$background-color: #fff;
$font-family-md-base: "Lato", "Roboto";
$text-input-md-background-color: transparent; 
$label-md-text-color-focused: #999;
$segment-button-md-text-color-activated: #5d4484 !important;
$segment-button-md-border-color-activated: #5d4484 !important;
$toolbar-background: #6b0082;
$badge-md-background-color: #fea20f; 
$badge-md-text-color: #000; 
$segment-button-md-font-size: 1.8rem;
$segment-button-md-border-bottom-width: 3px;