page-track-order {
    ion-toolbar {
        .toolbar-content {
            .button-md {
                background: transparent;
                box-shadow: none;
                position: absolute;
                top: 8px;
                z-index: 10;
            }
        }
    }
    ion-footer {
        ion-toolbar.toolbar-md {
            padding: 0px;
            .toolbar-content{
                button {
                    background: #fea20f;
                    color: #333;
                    font-size: 2rem;
                    font-weight: 700;
                    height: 6rem;
                    margin:0px;
                    position: static;
                }  
            }
        }
    }
    ion-card.card-md {
        width: 100%;
        ion-card-header {
            font-size: 2.25rem;
            color: #95989a;
            h1.orderId {
                font-size: 6rem;
                color: #5e5e5e;
                font-weight: 700;
            }
        }
    }
    ion-card.order-status{
        background: transparent;
        box-shadow: none;
        padding: 3rem 2rem; 
        ion-card-header{
            border-bottom: 3px solid #e6e6e6;
            color: #333; 
        }
        ion-card-content {
            color: #95989a;
            font-size: 2.125rem;
            ul {
                li {
                    list-style: none;
                    background: url(../../assets/imgs/circumference.png) no-repeat left center;
                    background-size: auto 80%;
                    padding-left: 4rem;
                    margin-bottom: 1.5rem; 
                }
                li.success {
                    color: #484848; 
                    background: url(../../assets/imgs/confirm.png) no-repeat left center;
                    background-size: auto 80%;
                }
            }
            
        }
    }
    ion-card-content {
        table {
            text-align: center;
            font-size: 2.25rem;
            th{
                font-weight: normal;
                color: #95989a;
                width: 30%;
            }
            td {
                color: #5e5e5e;
                font-weight: 700;
                font-size: 2.5rem;
            }
            th:last-child {
                text-align: right;
                width: 40%;
            }
            td:last-child {
                text-align: right;
            }
        }
    }
    .scroll-content {
        background: #efefef;
    }
    // .footer {
    //     background: #fea20f;
    //     text-align: center;
    //     width: 100%;
    //     position: fixed;
    //     bottom: 0px;
    //     button {
    //         background: transparent;
    //         box-shadow: none;
    //         width: 45%;
    //         font-size: 2.125rem;
    //         color: #040404;
    //         height: 6rem;
    //         font-weight: bold;
    //     }
    // }
}